<div class="chronicle-shop-window">
  {{#if error}}
    <div class="notification error">{{error}}</div>
  {{else}}
    <div class="shop-header">
      {{#if entity.image_path}}
        <img src="{{entity.image_path}}" alt="{{shopName}}">
      {{/if}}
      <div>
        <h3>{{shopName}}</h3>
        {{#if entity.type_label}}
          <span class="shop-type">{{entity.type_label}}</span>
        {{/if}}
      </div>
    </div>

    <div class="shop-inventory">
      {{#if inventory.length}}
        {{#each inventory}}
          <div class="shop-item {{#unless in_stock}}out-of-stock{{/unless}}"
               data-item='{{json this}}'
               draggable="true">
            {{#if image_path}}
              <img src="{{image_path}}" alt="{{name}}">
            {{else}}
              <img src="icons/svg/item-bag.svg" alt="{{name}}">
            {{/if}}
            <span class="item-name">{{name}}</span>
            {{#if price}}
              <span class="item-price">{{price}} gp</span>
            {{/if}}
            {{#if quantity}}
              <span class="item-qty">x{{quantity}}</span>
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <p class="empty-notice">This shop has no items for sale.</p>
      {{/if}}
    </div>
  {{/if}}
</div>
